body {
	background-color: #fafafa;
}
a {
    color: #009568;
}
a:hover {
    color: #00CC8E;
}
.button.button-primary, button.button-primary, input.button-primary[type="submit"], input.button-primary[type="reset"], input.button-primary[type="button"] {
    background-color: #009568;
    border-color: #009568;
    color: #fff;
}
.button.button-primary:hover, button.button-primary:hover, input.button-primary[type="submit"]:hover, input.button-primary[type="reset"]:hover, input.button-primary[type="button"]:hover, .button.button-primary:focus, button.button-primary:focus, input.button-primary[type="submit"]:focus, input.button-primary[type="reset"]:focus, input.button-primary[type="button"]:focus {
    background-color: #00CC8E;
    border-color: #009568;
    color: #fff;
}
.twelve.columns.post {
    border: 1px solid #eee;
	border-radius:5px;
	background-color:#fff;
}
.twelve.columns.button-nav {
	margin-bottom:10px;
}
