<template name="landing">
  {{> header}}
  <div class="row landing-background">
    <div class="container">
      <div class="seven columns">

        <div class="text-center landing-hero">
          <h1>Worka (placeholder name eh?)</h1>
          <p>Because there's got to be something better than LinkedIn... Right? Maybe...</p>
        </div>
      </div>
      <div class="five columns">
        <div class="container sign-up">
        {{> atForm}}
        </div>
      </div>
    </div>
   </div>
  {{> footer}}
</template>
